cohere==7.0.4
fastapi==0.138.1
groq==1.5.0
latex2mathml==3.81.0
lxml==6.1.1
matplotlib==3.11.0
numpy==2.5.0
openpyxl==3.1.5
pandas==3.0.3
Pillow==12.2.0
protobuf==7.35.1
pypdf==6.14.2
python_docx==1.2.0
python_pptx==1.0.2
streamlit==1.58.0
google-genai
